h1, h3 {
    text-align: center;
}

#bigDiv {
    background:#3366CC;
    width:100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#Developers {
    margin: 0;
    background:#3366CC;
    height: 100%;
    width:100%;
    float:left;
    margin-top: 50px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
