

body, html {
margin:0px;
padding:0px;
text-align:center;

}

#maket {
width:100%;
margin:0 auto;
background-color:silver;

}
#header{
background-color:#3366CC;
height:180px;
margin-left:2px;
margin-right:2px; 
margin-bottom: 2px;
}
#left{
background-color:silver;
color:whitesmoke;
width:200px;
height:550px;
margin-left:2px;
float:left;

}
#content{
background-color:highlight;
background-image: url("images/test_your_know_1.jpg");

margin-left:204px;
margin-right:2px; 
height:550px;

}
#footer{
background-color:#3366CC;
height: 46px;
margin-left:2px;
margin-right:2px; 
margin-top: 2px;



text-align:center;
clear:both
    

}

.picture img {
  margin: 110px 200px 0 0;
  position: relative;
}
.b1{
    width: 175px;
    height: 30px;
   
    background-color:oldlace;
}

.old{
    background-color:oldlace;
    
}

